.eunit/*
log
deps/*
priv/*
ebin/*
*.o
include/*_pb.hrl
*~
doc/*
/.eqc-info
/current_counterexample.eqc
.local_dialyzer_plt
dialyzer_warnings
dialyzer_unhandled_warnings
.rebar

_build/
data/
nonode@nohost/
ring_manager_eunit/
sim.out
.eqc
compile_commands.json
rebar3.crashdump
.rebar3/
core_vnode_eqc.log
