.eunit/*
deps/*
priv/*
ebin/*
*.o
include/*_pb.hrl
*~
doc/*
/.eqc-info
/current_counterexample.eqc
.local_dialyzer_plt
dialyzer_warnings
dialyzer_unhandled_warnings
.rebar
.rebar3
_build
rebar.lock
.DS_Store
nonode@nohost
data/*
test/*.beam
log/*
core_vnode_eqc.log
