{erl_first_files, ["src/gen_nb_server.erl", "src/riak_core_gen_server.erl",
		   "src/riak_core_stat_xform"]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
            debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {platform_define, "^R15", "old_hash"},
            {platform_define, "^[2-9][1-9][0-9]*(.?[0-9]*)", deprecated_21},
            {platform_define, "^[2-9][2-9][0-9]*(.?[0-9]*)", deprecated_22}]}.

{edoc_opts, [{preprocess, true}]}.

{eunit_opts, [verbose]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{deps, [
  {poolboy, {git, "https://github.com/basho/poolboy.git", {tag, "riak_kv-3.0.0"}}},
  {riak_sysmon, {git, "https://github.com/basho/riak_sysmon.git", {branch, "develop"}}},
  {clique, {git, "https://github.com/basho/clique.git", {branch, "develop"}}},
  {eleveldb, {git, "https://github.com/basho/eleveldb.git", {branch, "develop"}}},
  {riak_ensemble, {git, "https://github.com/basho/riak_ensemble", {branch, "develop"}}},
  {pbkdf2, {git, "https://github.com/basho/erlang-pbkdf2.git", {branch, "develop"}}},
  {cluster_info, {git, "https://github.com/basho/cluster_info.git", {branch, "develop"}}},
  {exometer_core, {git, "https://github.com/Feuerlabs/exometer_core.git", {tag, "1.6.1"}}},
  {basho_stats, {git, "https://github.com/basho/basho_stats.git", {branch, "develop"}}}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{profiles, [
    {test, [{deps, [meck]}, {erl_opts, [nowarn_export_all]}]},
    {eqc, [{deps, [meck]}, {erl_opts, [{d, 'EQC'}, nowarn_export_all]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.
