{erl_first_files, ["src/gen_nb_server.erl", "src/gen_server2.erl"]}.
{cover_enabled, true}.
{deps, [
  {protobuffs, "0.5.0", {git, "git://github.com/basho/erlang_protobuffs",
                              "HEAD"}},
  {webmachine, "1.7.*", {git, "git://github.com/basho/webmachine",
                              "HEAD"}}
       ]}.
