{lib_dirs, ["./deps"]}.

{release, {riak_core, "2.1.2"},
          ["eleveldb>=2.1.0",
           "lager>=2.0.3",
           "runtime_tools>=1.8.12",
           "riak_sysmon>=1.0.3",
           "riak_ensemble=2.1.0",
           "cluster_info=2.0.4",
           "pbkdf2=2.0.0",
           "exometer_core=1.0.0-basho2",
           "clique=0.3.2",
           "folsom=0.7.4p5",
           "basho_stats=1.0.3",
           "poolboy=0.8.1p3"
           ]}.