name: Erlang CI

on:
  push:
    branches: [ develop-3.0 ]
  pull_request:
    branches: [ develop-3.0 ]


jobs:

  build:

    runs-on: ubuntu-latest

    container:
      image: erlang:22.3.3

    steps:
      - uses: actions/checkout@v2
      - name: Compile
        run: ./rebar3 compile
      - name: Run xref and dialyzer
        run: ./rebar3 do xref, dialyzer
      - name: Run eunit
        run: ./rebar3 as gha do eunit
